@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

*{
    font-family: 'Short Stack', sans-serif;
}

body {
    background-image: url(../images/Light_Mode.png);
    background-size: 100%;
    text-align: center;
}

#wrapper {
    margin: 50px;
    padding: 10px;
    background-color: rgba(255, 240, 240, 0.712);
    border-radius: 20px;
}

#wrapper h1 {
    font-size: 3em;
}